<!DOCTYPE html>
<html lang="en">

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <div class="container">
    <button type="button" class="btn btn-primary" (click)="addNew()">Add New</button>
    <button type="button" class="btn btn-danger">Delete</button>
    <br/>
    <br/>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th bgcolor="#696969" class="text-center">
            <div class="checkbox">
              <label>
                <input type="checkbox" value="">
              </label>
            </div>
          </th>
          <th bgcolor="#696969" class="text-center">Movie</th>
          <th bgcolor="#696969" class="text-center">Director</th>
          <th bgcolor="#696969" class="text-center">Genre</th>
          <th bgcolor="#696969" class="text-center">Cast</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td bgcolor="#A9A9A9" class="text-center">
            <div class="checkbox">
              <label>
                <input type="checkbox" value="">
              </label>
            </div>
          </td>
          <td bgcolor="#A9A9A9" class="text-center">Sanju</td>
          <td bgcolor="#A9A9A9" class="text-center">Rajkumar Hirani</td>
          <td bgcolor="#A9A9A9" class="text-center">Ranbir kpoor</td>
          <td bgcolor="#A9A9A9" class="text-center">Drama</td>
        </tr>
        <tr>
          <td bgcolor="#A9A9A9" class="text-center">
            <div class="checkbox">
              <label>
                <input type="checkbox" value="">
              </label>
            </div>
          </td>
          <td bgcolor="#A9A9A9" class="text-center">Mission: Impossible</td>
          <td bgcolor="#A9A9A9" class="text-center">Christopher McQuarrie</td>
          <td bgcolor="#A9A9A9" class="text-center">Tom Cruise's</td>
          <td bgcolor="#A9A9A9" class="text-center">Action</td>
        </tr>
      </tbody>
    </table>
  </div>

</body>

</html>