
<h4>View grid of movies</h4>
			<button type="button" id="addNewbutt" (click)="navigate()">Add New</button>
			<button type="button" id="deletebut" >Delete</button>
			<table>
				<tr>
					<th>
						<input type="checkbox" name="SelectAll">
					</th>
					<th>
						Movie
					</th>
					<th>
						Director
					</th>
					<th>
						Genre
					</th>
					<th>
						Cast
					</th>
				</tr>
				<tr *ngFor = "let data of moviedetaillist">
					<td>
						<input type="checkbox" name="#">
					</td>
					<td>
						{{data.title}}
					</td>
					<td>
						{{data.director}}
					</td>
					<td>
						{{data.genre}}
					</td>
					<td>
            {{data.cast}}
					</td>
				</tr>	
				</table>